@import "variables";

:host {
  display: block;
  min-height: 100vh;
}

.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $surface-ground;
}

.layout-main-container {
  flex: 1 1 auto;
  padding: calc(#{$topbar-height} + #{$spacing-xl}) $spacing-xl $spacing-xl;
  max-width: $container-max-width;
  margin: 0 auto;
  width: 100%;
  transition: margin-left 0.2s;
}

@media screen and (max-width: $breakpoint-lg) {
  .layout-main-container {
    padding: calc(#{$topbar-height} + #{$spacing-lg}) $spacing-md $spacing-md;
  }
}
