<div class="historical-sites">
  <div class="card">
    <h1>{{ 'historicalSites.title' | translate }}</h1>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-dataView [value]="(sites$ | async) || []" layout="grid">
        <ng-template pTemplate="grid" let-sites>
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-4" *ngFor="let site of sites">
              <p-card styleClass="site-card">
                <ng-template pTemplate="header">
                  <div class="site-location">{{ site.location }}</div>
                  <div class="site-period">{{ site.period }}</div>
                </ng-template>
                
                <h3>{{ site.name }}</h3>
                <p>{{ site.description }}</p>
                
                <ng-template pTemplate="footer">
                  <div class="card-footer">
                    <p-button 
                      [label]="'common.viewDetails' | translate"
                      [routerLink]="['/historical-sites', site.id]"
                      styleClass="p-button-outlined">
                    </p-button>
                  </div>
                </ng-template>
              </p-card>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>
