<div class="grid">
  <div class="col-12">
    <div class="card">
      <h1>Chào mừng đến với Vietnam History</h1>
      <p>Khám phá lịch sử và văn hóa Việt Nam qua các thời kỳ</p>
    </div>
  </div>

  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Thời kỳ lịch sử">
      <ng-template pTemplate="header">
        <fa-icon [icon]="faBook" size="3x"></fa-icon>
      </ng-template>
      <p class="feature-description">Tìm hiểu về các giai đoạn lịch sử quan trọng của Việt Nam</p>
      <ng-template pTemplate="footer">
        <p-button label="Khám phá" [routerLink]="['/historical-periods']" styleClass="p-button-outlined"></p-button>
      </ng-template>
    </p-card>
  </div>

  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Nhân vật lịch sử">
      <ng-template pTemplate="header">
        <fa-icon [icon]="faUsers" size="3x"></fa-icon>
      </ng-template>
      <p class="feature-description">Tìm hiểu về các anh hùng và nhân vật lịch sử Việt Nam</p>
      <ng-template pTemplate="footer">
        <p-button label="Khám phá" [routerLink]="['/historical-figures']" styleClass="p-button-outlined"></p-button>
      </ng-template>
    </p-card>
  </div>

  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Di tích lịch sử">
      <ng-template pTemplate="header">
        <fa-icon [icon]="faLandmark" size="3x"></fa-icon>
      </ng-template>
      <p class="feature-description">Khám phá các di tích và danh thắng lịch sử của Việt Nam</p>
      <ng-template pTemplate="footer">
        <p-button label="Khám phá" [routerLink]="['/historical-sites']" styleClass="p-button-outlined"></p-button>
      </ng-template>
    </p-card>
  </div>

  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Bảo tàng ảo">
      <ng-template pTemplate="header">
        <fa-icon [icon]="faImages" size="3x"></fa-icon>
      </ng-template>
      <p class="feature-description">Tham quan bảo tàng ảo với công nghệ 3D và thực tế ảo</p>
      <ng-template pTemplate="footer">
        <p-button label="Khám phá" [routerLink]="['/virtual-museum']" styleClass="p-button-outlined"></p-button>
      </ng-template>
    </p-card>
  </div>
</div> 