<div class="virtual-museum">
  <div class="card">
    <h1>{{ 'virtualMuseum.title' | translate }}</h1>
  </div>

  <div class="grid">
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let exhibit of exhibits$ | async">
      <p-card styleClass="exhibit-card">
        <ng-template pTemplate="header">
          <div class="exhibit-period">{{ exhibit.period }}</div>
        </ng-template>

        <h3>{{ exhibit.name }}</h3>
        <p>{{ exhibit.description }}</p>

        <ng-template pTemplate="footer">
          <div class="card-footer">
            <p-button 
              *ngIf="exhibit.model3D"
              icon="pi pi-cube"
              [label]="'virtualMuseum.view3D' | translate"
              styleClass="p-button-secondary p-button-outlined mr-2">
            </p-button>
            <p-button 
              [label]="'common.viewDetails' | translate"
              [routerLink]="['/virtual-museum', exhibit.id]"
              styleClass="p-button-outlined">
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
